@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.home{
  padding-left: 10rem;
  padding-right: 10rem;
}

.titleOfApp{
  padding-top: 3rem;
  font-size: 4.5rem;

}

.imgBox{
  margin-top: 2.4rem;
}

.ant-modal-content{
background: rgba(255, 255, 255, 0.31) !important;
border-radius: 10px !important;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
backdrop-filter: blur(7.7px) !important;
-webkit-backdrop-filter: blur(7.7px) !important;
}

.ant-modal-close-x{
  color: white !important;
}